# Ignore node_modules directory
node_modules

# Ignore built output
dist

# Ignore TypeScript cache files
*.tsbuildinfo

# Ignore environment variables file
.env

# Ignore editor and IDE files
.vscode/
.idea/